.header {
    width:100%;
    background: red;
    height:150px;
    float:left;
}
.left_section {
    width:20%;
    float:left;
    height:400px;
    background: pink;
}
.right_section {
    width:80%;
    float:left;
    height:400px;
    background: grey;
}
.footer {
    width:100%;
    float:left;
    height:150px;
    background: greenyellow;
}
body {
    margin:0;
}